outline {
  height: 100%;
  column-gap: 0.25rem;
  overflow: auto;
  background-color: #4D4D4D;
  padding: 0.25rem;
  outline-style: solid;
}

outline:hover {
  background-color: aqua;
}

@media (min-width: 768px) {
  outline {
    column-gap: 0.5rem;
    padding: 0.75rem;
  };
}

@media (min-width: 1024px) {
  outline {
    column-gap: 0.75rem;
    padding: 1.25rem;
  };
}

/* h-full gap-y-1 overflow-auto bg-[#4D4D4D] p-1 text-xs font-medium text-white lg:gap-y-2 lg:p-3 lg:text-sm 2xl:h-[1000px] 2xl:gap-y-3 3xl:p-5 3xl:text-base */