.carousel .control-dots {
  margin: 0;
}

.carousel {
  height: 100%;
}

.carousel.carousel-slider {
  height: 100%;
}

.carousel .slider-wrapper {
  height: 100%;
}

.carousel .slider {
  height: 100%;
}

.carousel .slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media (min-width: 768px) {
  .carousel .control-dots {
    margin: 12px 0;
  }

  .line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }
}

@media (min-width: 1024px) {
  .carousel .control-dots {
    margin: 20px 0;
  }

  .line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
  }
}
