label {
  cursor: pointer;
}

input[type='radio'] {
  /* Add if not using autoprefixer */
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  aspect-ratio: 1;
  width: auto;
  height: 1.5rem;
  border: 1px solid currentColor;
  border-radius: 50%;
  transition: all 300ms ease-out;
}

input[type='checkbox'] {
  appearance: none;
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  aspect-ratio: 1;
  width: auto;
  height: 1.5rem;
  border: 1px solid currentColor;
  border-radius: 0.25rem;
  transition: all 300ms ease-out;
}

input[type='radio'] ~ *,
input[type='checkbox'] ~ * {
  cursor: pointer;
}

@media (min-width: 1024px) {
  input[type='radio'],
  input[type='checkbox'] {
    width: auto;
    height: 2em;
  }
}

input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: none; /*to remove the square border on focus*/
}

input[type='radio']:checked ~ label,
input[type='checkbox']:checked ~ label {
  color: white;
  font-weight: 500;
  cursor: pointer;
}
